.section {
    margin: 10px auto;
    padding: 10px;
}

.section__header {
    box-shadow: -3px -3px 5px 2px #6499FC,
        5px 5px 5px 2px #D8D6D7;
    background-color: #0453c9de;
    color: #e4e9f1;
    text-shadow: 3px 3px 8px #131212;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.section__box {
    margin: 20px 5px;
    border: 3px solid #0453c9de;
    border-radius: 20px;
    box-shadow: -3px -3px 5px 2px #6499FC,
        5px 5px 5px 2px #D8D6D7;
}

.section__image {
    margin: 15px auto;
    padding: 7px;
    border-radius: 50%;
    min-width: 280px;
}

.section__container {
    overflow-x: auto;
}

.section__button {
    margin: 20px auto;
    padding: 15px;
    box-shadow: -3px -3px 5px 2px #6499FC,
        5px 5px 5px 2px #D8D6D7;
    background-color: #0453c9de;
    color: #e4e9f1;
    text-shadow: 2px 2px 5px #131212;
    display: block;
    border-radius: 10px;
    border-width: 0px;
    font-size: 17px;
}

.section__button:hover {
    background-color: #6499FC;
    cursor: pointer;
}